.CalculateForm {
  margin: 2rem auto 2rem auto;
  padding: 0.5rem;
  height: fit-content;
  width: fit-content;
  background-color: lightsteelblue;
  border: 2px solid black;

  .dataView {
    .DataAndResultArea {
      margin: 1rem;

      .FieldInput {
        padding: 1rem;
      }
    }
  }


}
